.cartScreen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  animation: linear 0.5s startCart;
  transition: 0.3s;
  background-color: #F4C038;
  padding: 10px;
  border-top: 1px solid #ffffff;
  border-radius: 20px 20px 0 0;

  &__arrow {
    position: absolute;
    top: -100px;
    left: 50px;
    transform: rotate(180deg);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  &__arrow:hover {
    background-color: #ffffff30;
    transition: 0.3s;
  }

  .down {
    transform: rotate(0deg);
    transition: 0.3s;
  }

  &__itemsRow::-webkit-scrollbar {
    width: 0;
  }

  &__itemsRow {
    display: flex;
    row-gap: 15px;
    column-gap: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-flow: wrap row;
    transition: 0.3s;
    animation: linear 0.5s cartRowStart;
    height: 150px;

    .shopCard {
      cursor: pointer;
      width: calc(20% - 12px);
      height: 150px;
      text-align: center;
      padding: 10px 0;
      user-select: none;
      transition: 0.5s;
      position: relative;
      animation: ease-in-out 1s start;
      background-color: #272E3B;


      img {
        width: 80px;
        animation: linear 5s rotateImg infinite;
      }

      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 14px;
      }

      .itemPrice {
        font-size: 14px;
        margin-top: 5px;
        color: #FFFFFF;
      }
    }
  }
}

.hide {
  height: 0;
  transition: 0.3s;
  animation: toHide 0.3s linear;
}

.CartHide {
  height: 0;
  border: none;
  padding: 0;
  animation: linear 0.3s hidingCart;
}

@keyframes hidingCart {
  0% {
    height: 150px;
  }
  100% {
    height: 0;
  }
}


@keyframes toHide {
  0% {
    height: 150px;
  }
  100% {
    height: 0;
  }
}

@keyframes cartRowStart {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}

@keyframes startCart {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 0;
  }
}