.preloader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20222A;
  z-index: 100;
  .circlePreload{
    animation: preload 0.2s infinite linear;
  }
}

.preend{
  animation: end linear 1s;
}

@keyframes end {
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 0;
  }
}

@keyframes preload {
  0%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}