.header {
  background: #20222A;
  width: 100%;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 20;

  .burgerButton {
    display: none;
  }

  .useracc {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    display: none !important;
    align-items: center;
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_cart {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 5px;
      transition: 0.3s;

      &-number {
        left: 40px;
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        color: #ffffff;
      }

      &-svg {
        width: 30px;
        height: 30px;
      }
    }

    &_cart:hover {
      background-color: #ffffff30;
      transition: 0.3s;
      padding: 5px;
      border-radius: 10px;
    }

    &-right {
      display: flex;
      align-items: center;
      column-gap: 140px;
    }

    &-logo {
      display: flex;
      align-items: center;
      column-gap: 5px;
      animation: start ease-in-out 1s;
      transition: 0.3s;

      h2 {
        color: #ffffff;
        font-weight: bolder;

        span {
          font-weight: lighter;
        }
      }
    }

    .useracc {
      display: none !important;
      column-gap: 5px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .header__navbar-left_username {
        font-size: 16px;
        color: #ffffff;
      }
    }

    &-logo:hover {
      background-color: #ffffff30;
      transition: 0.3s;
      border-radius: 20px;
    }

    &-ul {
      display: flex;
      align-items: center;
      column-gap: 32px;
      animation: start ease-in-out 1s;


      &_li {
        color: #ffffff;
        font-weight: bold;
        transition: 0.3s;
      }

      &_li:hover {
        padding: 10px;
        background-color: #ffffff30;
        border-radius: 20px;
        transition: 0.3s;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      column-gap: 10px;
      animation: start ease-in-out 1s;

      &-cartPrice {
        color: #ffffff;
      }

      .selectLanguage {
        display: flex;
        align-items: center;
        border-radius: 18px;
        padding: 8px 10px;
        background-color: transparent;
        border: 1px solid #3D4554;
        animation: start ease-in-out 1s;
        transition: 0.3s;

        img {
          width: 15px;
        }

        select {
          background-color: transparent;
          border: none;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #ffffff;
          outline: none;
          cursor: pointer;

        }

        option {
          background-color: #20222A;
          cursor: pointer;
        }


      }

      .selectLanguage:hover {
        padding: 10px;
        background-color: #ffffff30;
        transition: 0.3s;
      }
    }

  }
}
