.burgerMenu {
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  animation: startBurgerMenu 0.3s linear;
  z-index: -1;
  background: #20222A;
  min-height: 50vh;
  padding: 16px;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 30px 30px;

  .hr {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #3D4554;
    display: inline-block;
  }

  .useracc {
    display: flex;
    column-gap: 10px;
    width: 100%;

    font-weight: bolder;
    border-radius: 20px;

    a {
      color: #FFFFFF;
    }

    &__log {
      border: none;
      border-radius: 15px;
      background-color: #F4C038;
      color: #FFFFFF;
      padding: 5px 30px;
    }
  }

  .useracc:hover {
    transition: 0.3s;
    background-color: #3D4554;
    padding: 10px;
  }

  .burger_cart {
    display: flex;
    align-items: center;
    column-gap: 5px;

    span {
      color: #FFFFFF;
    }
  }
}
.remove{
  display: none !important;
}

.burgerMenuExit{
  animation: endBurgerMenu 0.3s linear;
}

@keyframes startBurgerMenu {
  0% {
    top: 73px;
    left: -100vw;
  }
  100% {
    top: 73px;
    left: 0;
  }
}

@keyframes endBurgerMenu {
  0% {
    top: 73px;
    left: 0;
  }
  100% {
    top: 73px;
    left: -100vw;
  }
}