.casePage {
  min-height: calc(100vh - (73px + 48px));
  background-color: #20222A;
  user-select: none;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__caseImg {
    background: url("./case.svg") center/cover no-repeat;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    cursor: pointer;
    margin-top: 100px;
    width: 400px;
    height: 260px;
    animation: linear 0.5s start;
  }

  .numbersCase {
    font-family: "Rubik", sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 100px;
    animation: linear 0.5s start;
  }

  .itemFromCase {
    margin-top: 100px;
    cursor: pointer;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 10px 0;
    user-select: none;
    transition: 0.5s;
    position: relative;
    animation: ease-in-out 1s start;
    justify-content: center;

    .itemName {
      font-size: 20px;
    }

    img {
      width: 200px;
    }

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .itemPrice {
      margin-top: 10px;
      color: #FFFFFF;
    }
  }

  .rot {
    animation: 0.2s ease rotateCase;
  }

  .rotRev {
    animation: 0.2s ease rotateReverse;
  }

}


@keyframes rotateReverse {
  100% {
    transform: rotate(-15deg);
  }
}

@keyframes rotateCase {
  100% {
    transform: rotate(15deg);
  }
}