*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  a{
    text-decoration: none;
  }
}


.active{
  color: #F4C038 !important;
  transition: 0.3s;
  h2{
    color: #F4C038 !important;
    transition: 0.3s;
  }
}

*::selection{
  background-color: #F4C038;
}

.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}